.cadre{
    margin-right: auto;
    margin-left: auto;
    max-width: 60%;
    display: flex;

}


.equipe{
    margin: auto;
    height:20em;
}
.photo{   
    width: 25%;
    height: 25%; 
    margin-right: 1em;
    padding: 1px;
}
.photo:hover{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);    
}

.content:hover{
    opacity:0;
}
.content:hover{
    opacity:1;
}

.description{
    /* text-align:justify; */
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

.histoire{
    margin-top: 3em;
    background-color:whitesmoke;
    padding-bottom: 2em;
    padding-top: 1em;
}
.section{
    margin-top:50px;
}


.titre_Parties{
    text-align: center;
    font-size: x-large;
}

.textarea{
    max-width:100%;
}

.values_img{
   max-width: 50%;
   margin-left:auto;
   margin-right:auto;
}

.values_div{
    display: flex;
}

.values{
    margin-top: 3em;
    background-color:white;
    padding-bottom: 2em;
    padding-top: 1em;
    margin: auto;

}


.formulaire{
    display: table;
    margin-right: auto;
    margin-left: auto;
    max-width:75%;
    height: 5em;
    padding-top:2em;
}
.email{
    margin-right: 2em;;
}
.message{
    margin-right: 2em;
}

.footer{
    border-top: 1px black;
    margin-top: 3em;
    background-color: crimson;
}


.u-flex__item{
    flex: 1 1 auto;
}

nav li{
    display:inline-block;
    width:160px;
    height: 40px;
    margin: 0px;
    padding:0px;
    border-right: 1px solid white;
    text-align: center;
    line-height: 40px;
}

nav ul{
    padding: 0px;
    margin:0px;
    list-style-type: none;
    background-color: crimson;
}

nav li a{
    display:block;
    text-decoration:none;
    color: white;
}

nav li :hover{
    background-color: black;
}